<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title></title>
  
</head>
<body>
		{% load static %}
	<audio autoplay loop>
		<source src="{% static 'textadventure/soundtrack.mp3' %}" type="audio/mp3">
		Dein Browser unterstützt die Musikwiedergabe nicht.
	</audio>
</body>
</html>
