<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textadventure</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	{% load static %}
	<link href="{% static 'textadventure/images' %}">
  </head>
<frameset cols="200, *" >
	<frame src= {% url 'audio' %}>
	</frame>
	<frame src={% url 'station' 'start'%}>	
	</frame>
</frameset>  
