<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>  
</head>
<body>
    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{station.title}}</h5>
          <p class="card-text">{{station.text |linebreaks}}</p>
		  {% load static %}
		  {% if station.bildname %}
		  	<img src="{% static station.bildname %}" alt="image">
			<br>
		  {% endif %}
			
          {% for choice in station.choice_set.all %}
          <a href="{{choice.next_station.name}}" class="btn btn-outline-secondary">{{choice.text}}</a><br>
          {% endfor %}
        </div>
      </div>
    </div>
</body>
</html>